// Fonts
$main-font: 'Open Sans', Arial, sans-serif;
$secondary-font: 'Montserrat', Arial, sans-serif;

// Colors
$gallery: #efefef;
$baltic-sea: #1e1c1f;
$crimson: #da0f19;
$red: #ff0613;
$anakiwa: #96d9ff;
$pastel-green: #5ae997;