.card {
    background: $gallery;
    padding-bottom: rem(100px);
    padding-top: rem(60px);

    &--baltic {
        background: $baltic-sea;
    }
    
    &--red {
        background: $red;
    }
    
    &--contrast {
        color: #fff;

        .card__text {
            &::after {
                background: #fff;
            }
        }
    }

    @include media-breakpoint-up(md) {
        &:first-child {
            position: relative;
    
            @include before() {
                background: $gallery;
                @include position(0, auto, 0, 0);
                transform: translateX(-100%);
                width: 50vw;
            }
        }
    
        &:nth-child(2) {
            position: relative;
    
            @include before() {
                background: $baltic-sea;
                @include position(0, 0, 0, auto);
                transform: translateX(100%);
                width: 50vw;
            }
        }
    }

    @include media-breakpoint-up(lg) {
        transform: translateY(rem(90px));

        &:nth-child(2) {
            transform: translateY(rem(45px));

            &::before {
                content: none;
            }
        }

        &:nth-child(3) {
            position: relative;
            transform: none;
        
            @include before() {
                background: $red;
                @include position(0, 0, 0, auto);
                transform: translateX(100%);
                width: 50vw;
            }
        }
    }

    &__title {
        @include fx();
        font-size: rem(34px);
        text-align: center;
        text-transform: uppercase;

        svg {
            width: rem(80px);
        }

        span {
            display: block;
        }

        &--1 {
            color: $crimson;

            span {
                margin-left: rem(-35px);
            }
        }

        &--2 {
            display: block;
            position: relative;

            span {
                @include fx();
                @include position(0, 0, 0, 0);
            }
        }

        &--3 {
            color: #fff;
            
            span {
                margin-left: rem(-60px);
            }
        }
    }

    &__text {
        position: relative;

        @include after() {
            background: $baltic-sea;
            height: rem(2px);
            @include position(auto, auto, 0, 50%);
            transform: translateX(-50%);
            width: rem(40px);
        }
    }
}