@charset "utf-8";

// Libraries
@import '../../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../../node_modules/bootstrap/scss/bootstrap-grid';


// Helpers
@import 'helpers/variables';
@import 'helpers/mixins';
@import 'helpers/svg';
@import 'helpers/fonts';
@import 'helpers/rem';
@import 'helpers/spacing';

// Components
@import 'components/button';
@import 'components/square';
@import 'components/title';
@import 'components/text';
@import 'components/line';
@import 'components/card';
@import 'components/list-item';

$rem-baseline: 10px;

html {
  @include rem-baseline;
}

body {
  font-family: $main-font;
  color: $baltic-sea;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

strong {
  font-weight: bold;
}

.menu {
  margin-bottom: rem(30px);

  &__list {
    @include fx(row nowrap, flex-end);
  }

  &__item:not(:first-child) {
    margin-left: rem(6px);
  }

  @include media-breakpoint-up(sm) {
    .menu *:last-child{
      margin-right: rem(30px);
    }
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 0;
  }
}

.header {
  background: $gallery;
  overflow: hidden;
  position: relative;
  z-index: 0;

  & > * {
    position: relative;
    z-index: 1;
  }

  @include before() {
    background: #fff;
    height: rem(240px);
    @include position(auto, 0, 0, 0);
    transform: skew(0, -2.6deg);
    z-index: 0;
  }

  @include after() {
    background: #fff;
    height: rem(150px);
    @include position(auto, 0, 0, 0);
    z-index: 0;
  }

  &__logo {
    display: block;
    width: rem(229px);
  }

  &__title {
    font-size: rem(35px);
    text-align: center;

    strong {
      font-weight: normal;
      line-height: 1;
    }

    @include media-breakpoint-up(sm) {
      font-size: rem(45px);

      strong {
        display: block;
      }
    }

    @include media-breakpoint-up(md) {
      font-size: rem(60px);
    }

    @include media-breakpoint-up(lg) {
      font-size: rem(62px);
      text-align: left;

      strong {
        margin-left: rem(85px);
      }
    }
  }

  &__illustration {
    display: block;
    margin: 0 0 rem(10px) calc((806px - 100vw) / -2 - (#{$grid-gutter-width} / 2));
    width: rem(806px);
    
    @include media-breakpoint-up(sm) {
      margin-left: calc((806px - #{map-get($container-max-widths, "sm")}) / -2 - (#{$grid-gutter-width} / 2));
    }

    @include media-breakpoint-up(md) {
      margin-left: calc((806px - #{map-get($container-max-widths, "md")}) / -2 - (#{$grid-gutter-width} / 2));
    }

    @include media-breakpoint-up(lg) {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.disclaimer {
  overflow: hidden;
  
  & > * {
    position: relative;
  }

  &__anim {
    position: relative;

    &--left {
      @include position(rem(165px), auto, auto, rem(15px));
      transform: translateX(-100%);

      .c-line:first-child {
        margin: 0 0 rem(170px) rem(120px);
      }
      .c-line:nth-child(3) {
        margin: rem(30px) 0 0 rem(260px);
      }
    }

    &--right {
      @include position(rem(-65px), 0, auto, auto);
      transform: translateX(100%);

      .c-line:first-child {
        margin: 0 0 rem(90px) rem(25px);
      }
      .c-line:nth-child(3) {
        margin: rem(25px) 0 0 rem(80px);
      }
    }
  }

  &__list {
    @include fx(row wrap, center, flex-start);
  }

  &__item {
    flex: 1;
    text-align: center;
    margin: 0 rem(50px) rem(20px);

    svg {
      display: inline-block;
      height: rem(95px);
      width: auto;

      path {
        fill: $baltic-sea;
      }
    }
  }

  @include media-breakpoint-up(md) {
    &__item {
      &:nth-child(4),
      &:nth-child(5) {
        flex: 0;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    &__list {
      @include fx(row nowrap, space-between, flex-start);
    }

    &__item {
      margin-left: 0;
      margin-right: 0;

      &:nth-child(4),
      &:nth-child(5) {
        flex: 1;
      }
    }
  }
}

.offers {
  overflow: hidden;
  
  @include media-breakpoint-up(md) {
    background: $red;
  }
  
  @include media-breakpoint-up(lg) {
    background: transparent;
    padding-bottom: rem(90px);
  }
}

.footer {
  background-color: $red;

  &__logo {
    max-width: rem(290px);
    width: rem(314px);
  }

  &__text {
    font-size: rem(14px);
    line-height: (22 / 14);
    margin-bottom: 0;
  }
}

.contact {
  @include fx(row nowrap, flex-start);

  @include media-breakpoint-up(lg) {
    justify-content: center;
  }

  &__separator {
    background: $baltic-sea;
    display: none;
    height: rem(60px);
    width: rem(2px);

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }

  &__link {
    display: block;
    transition: color .25s ease-in-out;
    margin-left: rem(10px);

    &:hover {
      color: #fff;
    }
    
    svg {
      width: rem(40px);
    }

    path {
      fill: currentColor;
    }

    @include media-breakpoint-up(sm) {
      margin-left: rem(15px);

      svg {
        width: rem(60px);
      }
    }
  }
}

.nav {
  ul {
    @include fx(row nowrap, flex-end);
  }
}